body{font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";background-color: black}
#calculator{height: 600px;margin: 0 auto;top: 20px;position: relative;border-radius: 5px;background-color:black; }
.color{
	background-color: #A4A1A1;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	font-size: 2em;
	 
}
.orange{
	background-color:#F58702;
	color: white;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	font-size: 2em;
	font-size: 2.5em;
}
.number{
	color: white;
	background-color: #2F2D2D;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	font-size: 2em;
	
}
#oval{
	width: 200px;
	border-radius:50px;
}

.margin-left{margin-left:525px;}
#div	{
	color: white;
}
.number:hover{
	background-color: #434242;
}
.orange:hover {background-color: #F1B361}
.color:hover{background-color:#C0C0BB}
#display{
	width: 400px;
	text-align: right;
	height:70px;
	line-height: 70px;
	padding: 16px 8px;
	font-size: 2.5em;
	background-color: black;
	color: white;
	margin-left: 517px;
	border-radius: 10px;
	position: relative;
	
}
.orange:active{
	background-color: white;
	color:#F58702;
}
#space-invader {
      box-shadow: 0 0 0 1em red,
      0 1em 0 1em red,
      -2.5em 1.5em 0 .5em red,
      2.5em 1.5em 0 .5em red,
      -3em -3em 0 0 red,
      3em -3em 0 0 red,
      -2em -2em 0 0 red,
      2em -2em 0 0 red,
      -3em -1em 0 0 red,
      -2em -1em 0 0 red,
      2em -1em 0 0 red,
      3em -1em 0 0 red,
      -4em 0 0 0 red,
      -3em 0 0 0 red,
      3em 0 0 0 red,
      4em 0 0 0 red,
      -5em 1em 0 0 red,
      -4em 1em 0 0 red,
      4em 1em 0 0 red,
      5em 1em 0 0 red,
      -5em 2em 0 0 red,
      5em 2em 0 0 red,
      -5em 3em 0 0 red,
      -3em 3em 0 0 red,
      3em 3em 0 0 red,
      5em 3em 0 0 red,
      -2em 4em 0 0 red,
      -1em 4em 0 0 red,
      1em 4em 0 0 red,
      2em 4em 0 0 red;
      background: red;
      width: 1em;
      height: 1em;
      overflow: hidden;
      margin: 50px 0 750px 65px;
    }